unpackaged/main/default/flows/RTF_perm_set_assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>check_formula</name>
        <label>check formula</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>profilecheck</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_PermSet</targetReference>
            </connector>
            <label>not NULL</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>profilecheck</name>
        <dataType>String</dataType>
        <expression>IF(    {!$Record.Profile.Name} = &#39;Inside Sales manager&#39;, 
               &#39;ViewAll&#39;, 
                     IF( {!$Record.Profile.Name} = &#39;Direct Sales Manager&#39;, 
                            &#39;ModifyAll&#39;, 
NULL )
)</expression>
    </formulas>
    <interviewLabel>RTF: perm set assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF: perm set assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>assign_PermSet</name>
        <label>assign PermSet</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>get_PermSet.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_PermSet</name>
        <label>get PermSet</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_PermSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>profilecheck</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_formula</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
